* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
}
body {
    background : url(https://cdn.dribbble.com/users/93144/screenshots/1781779/2.png) repeat;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.bar {
    position: absolute;
    border-radius: 20px;
    height: 475px;
    width: 370px;
    overflow: hidden;
    top:40%;            left:50%;            margin-top:-237.2px;            margin-left:-185px;
}
.bar .h1Bg {
    height: 185px;
    background :url(https://cdn.dribbble.com/users/2273/screenshots/959859/shot.png) no-repeat;
    background-size :700px 350px;
    
}
.bar h1{
    display: block;
    color: rgb(0, 128, 167);
    text-shadow: -5px 3px 5px #fff;
    line-height: 250px;
    text-indent: 200px;
    height: 185px;
    width: 370px;
    background: rgba(110, 216, 248, 0.3);
}
.bar ul {
    height: 290px;
    background: rgba(255, 255, 255, 0.8);
}
.bar ul li {
    text-align: left;
}
.bar ul li a {
    color: rgb(110, 216, 248);
    height: 70px;
    display: block; 
    line-height: 70px;
    font-size: 20px;
    font-weight:900;
    text-indent: 50px;
}
.bar ul li:hover {
    background:rgb(240, 244, 247);
}
.bar ul li a:hover {
    color: rgb(145, 196, 255);
    text-indent: 51px;
}
